@charset "UTF-8";
body{
    margin: 0px;
}
.sidebar {
    list-style-type: none;
    width: 25%;
    height: 100%;
    background-color: #607d8b;
    position: fixed;
    overflow: auto;
    

}

.sidebar li a {
text-decoration: none;
display: block;
padding-top: 8px;
padding-left:15px;
padding-bottom: 8px;

color: white;


}

.sidebar li a.active {
   background-color: #00bcd4;

}
.sidebar li a:hover{
    background-color: grey;
 
 }


.one, .two, .three, .footer{
    margin-left: 25%;
    padding: 3px 15px;
}

.two ul {
    
    list-style: none ;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.card img {
    display: block;
    width: 100%;
    height: auto;

}

.three {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.three .box{
    padding: 10px;
   
}

.three .box:first-child{
    background-color: #009688;
}

.three .box:last-child{
    background-color: #795548;
}

.footer {

    display: grid;
    grid-template-columns: 1fr 1fr;
}
.footer div {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background: green;
    color: white;
    text-align: center;
    
}





@media screen and (max-width: 400px) {
    .sidebar li a {
        text-align: center;
        float: none;
        


    }
    .sidebar {
        width: 100%;
        height :auto;
        position: relative;
       
    }

    .two ul,.three, .footer{
        display: grid;
        grid-template-columns: 1fr;
     
    }

    .one, .two, .three, .footer{
        margin-left: 0;
    }

    
}